/.idea/
/values/avinash/
/values/from_naga/
/values/from_eldad/
/values/jfrog_saas/
/values/For_PROD_Setup/tmp/
/values/For_PROD_Setup/troubleshooting/
/values/For_Test_Setup_downsized/
/install_artifactory_and_xray.txt
/values/suggest_to_dynata/
